
#my_container{
    position: relative;
/*    display: inline;*/
/*    width: 100%;
    height: 100%;*/
}
#main_image{
/*
    width: 100%;
    height: 100%;*/

}
#overlay_image1{
    position: absolute;
/*    top: 10px;*/
    right: 50%;
    
     width:225px;
     height:97px;
}
#overlay_image2{
    position: absolute;
    right: 33%;
     width:225px;
     height:97px;
}
#overlay_image3{
    position: absolute;
    right: 66%;
     width:225px;
     height:97px;
}

#canvas_id{
    position: absolute;
    height: 90%;
    width: 100%;
}
#video{
    position: absolute;
    z-index: 0;
    height: 676px;
    width: 1015px;
}
/*#video::-webkit-media-controls-panel {
     position: absolute;
     top: 400px;
}*/